{% extends 'index.html' %}
{% block title %}Teachers Records{% endblock title %}
{% block body %}

    
<div class = "p-3  bg-danger text-light text-center"><h1><b>Teachers Record</b></h1><a href = "/newteacher" ><button type="button" class="btn btn-light">New Teachers Registration</button></a></div>  
       
        <table class="table table-striped table-dark ">
            <thead>
                <tr >
            
                    <th>Teacher Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Subject Specialist</th>
                    <th>Joining Date</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for Teacher in teacherrecord %}
                <tr >
                    <td>{{Teacher.name}}</td>
                    <td>{{Teacher.phone}}</td>
                    <td>{{Teacher.address}}</td>
                    <td>{{Teacher.subject}}</td>
                    <td>{{Teacher.date}}</td>
                    <td><a  href = "teacherrecord/{{Teacher.id}}" button type="button" class= "btn btn-primary btn-sm">Delete</a></td>
                </tr> 
              
                {% endfor %}
               
        
            </tbody>
        </table>
      </div>
     
    






{% endblock body %}
{% block footer %}
{% include 'footer.html' %}

{% endblock footer %}