{% extends 'index.html' %}
{% block title %}Teachers Lectures Timetable{% endblock title %}
{% block body %}
<div class = "p-3  bg-danger text-light text-center"><h1><b>Teachers Lectures Timetable</b></h1></div>
<table class="table table-striped table-dark ">
        <thead>
            <tr >
                <th>#</th>
                <th>Teacher Name</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            
            <tr > <td>1</td>
                <td>Ali</td>
                <td>English</td>
                <td>Math</td>
                <td>Urdu</td>
                <td>Science</td>
                <td>Pakistan Stadies</td>
            </tr> 
          
    
            <tr > <td>2</td>
                <td>Sanam</td>
                <td>Urdu</td>
                <td>English</td>
                <td>Science</td>
                <td>Computer</td>
                <td>English</td>
            </tr> 
            <tr >
                <td>3</td>
                <td>Fayaz</td>
                <td>G.K</td>
                <td>English Grammer</td>
                <td>Biology</td>
                <td>Pt</td>
                <td>English</td>
    
            </tr>   
            <tr > <td>4</td>
                <td>Hassan</td>
                <td>English</td>
                <td>Math</td>
                <td>Urdu</td>
                <td>Science</td>
                <td>Pakistan Stadies</td>
            </tr> 
          
    
            <tr > <td>5</td>
                <td>Fiza</td>
                <td>Urdu</td>
                <td>English</td>
                <td>Science</td>
                <td>Computer</td>
                <td>English</td>
            </tr> 
            <tr >
                <td>6</td>
                <td>Haider</td>
                <td>G.K</td>
                <td>English Grammer</td>
                <td>Biology</td>
                <td>Pt</td>
                <td>English</td>
    
            </tr>  
            
            <tr > <td>7</td>
                <td>Nafeesa</td>
                <td>English</td>
                <td>Math</td>
                <td>Urdu</td>
                <td>Science</td>
                <td>Pakistan Stadies</td>
            </tr> 
          
    
            <tr > <td>8</td>
                <td>Osman</td>
                <td>Urdu</td>
                <td>English</td>
                <td>Science</td>
                <td>Computer</td>
                <td>English</td>
            </tr> 
            <tr >
                <td>9</td>
                <td>Sohail</td>
                <td>G.K</td>
                <td>English Grammer</td>
                <td>Biology</td>
                <td>Pt</td>
                <td>English</td>
    
            </tr>    
            
    
    
        </tbody>
    </table>


{% endblock body %}
{% block footer %}
{% include 'footer.html' %}

{% endblock footer %}

