{% extends 'index.html' %}
{% block title %}Timetable{% endblock title %}
{% block body %}
<div class = "p-3  bg-danger text-light text-center"><h1><b>Timetable</b></h1></div>

<table class="table table-striped table-dark  ">
    <thead>
        <tr >
            <th>#</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
    </thead>
    <tbody>
        
        <tr > <td>1</td>
            <td>English</td>
            <td>Math</td>
            <td>Urdu</td>
            <td>Science</td>
            <td>Pakistan Stadies</td>
        </tr> 
      

        <tr > <td>2</td>
            <td>Urdu</td>
            <td>English</td>
            <td>Science</td>
            <td>Computer</td>
            <td>English</td>
        </tr> 
        <tr >
            <td>3</td>
            <td>G.K</td>
            <td>English Grammer</td>
            <td>Biology</td>
            <td>Pt</td>
            <td>English</td>

        </tr>   
        <tr > <td>4</td>
            <td>English</td>
            <td>Math</td>
            <td>Urdu</td>
            <td>Science</td>
            <td>Pakistan Stadies</td>
        </tr> 
      

        <tr > <td>5</td>
            <td>Urdu</td>
            <td>English</td>
            <td>Science</td>
            <td>Computer</td>
            <td>English</td>
        </tr> 
        <tr >
            <td>6</td>
            <td>G.K</td>
            <td>English Grammer</td>
            <td>Biology</td>
            <td>Pt</td>
            <td>English</td>

        </tr>  
        
        <tr > <td>7</td>
            <td>English</td>
            <td>Math</td>
            <td>Urdu</td>
            <td>Science</td>
            <td>Pakistan Stadies</td>
        </tr> 
      

        <tr > <td>8</td>
            <td>Urdu</td>
            <td>English</td>
            <td>Science</td>
            <td>Computer</td>
            <td>English</td>
        </tr> 
        <tr >
            <td>9</td>
            <td>G.K</td>
            <td>English Grammer</td>
            <td>Biology</td>
            <td>Pt</td>
            <td>English</td>

        </tr>    
        


    </tbody>
</table>



{% endblock body %}
{% block footer %}
{% include 'footer.html' %}

{% endblock footer %}